################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PayParking/.vs/PayParking/DesignTimeBuild/.dtbcache
/PayParking/.vs/PayParking/v15/Server/sqlite3
/PayParking/.vs/PayParking/v15/.suo
/PayParking/UnitTestProject1/bin/Debug/netcoreapp2.1
/PayParking/UnitTestProject1/obj/Debug/netcoreapp2.1
/PayParking/UnitTestProject1/obj
/PayParking/PayParking/obj
/PayParking/PayParking/bin/Debug/netcoreapp2.1
